# Node.js dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*


results/
uploads/

# OS files
.DS_Store

# IDE files
.vscode/
.idea/
# Optional: TypeScript cache
*.tsbuildinfo

# Test coverage
coverage/
*.tsbuildinfo
